/* CSS File for "My Team" Page - Showing players on the field */

.parent{
    width:auto;
    height:auto;
    position:absolute;
    z-index:0;
}

.goalkeeper{
    position:absolute;
    z-index:1;
    bottom: 8%;
    right: 41%;
}

.defender1, .defender2, .defender3, .defender4 {
	position:absolute;
    z-index:1;
    bottom: 26%;
}

.defender1 {
    right: 10%;
}

.defender2 {
    right: 30%;
}

.defender3 {
    right: 50%;
}

.defender4 {
    right: 70%;
}

.midfielder1, .midfielder2, .midfielder3 {
	position:absolute;
    z-index:1;
    bottom: 46%;
}

.midfielder1 {
	right: 15%;
}

.midfielder2 {
	right: 40%;
}

.midfielder3 {
	right: 65%;
}

.forward1, .forward2, .forward3 {
	position: absolute;
    z-index: 1;
    bottom: 66%;
}

.forward1 {
	right: 10%;
}

.forward2 {
	bottom: 74%;
	right: 40%;
}

.forward3 {
	right: 70%;
}

#caption {
	color: black;
	/* text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white; 	*/
	text-align: center; 
	font-weight: bold;
}

