/* CSS File for "My Team" Page - Showing players on the field */

.parent{
    width:auto;
    height:auto;
    position:absolute;
    z-index:0;
}

.goalkeeper{
    position:absolute;
    z-index:1;
    bottom: 8%;
    right: 41%;
}

#caption {
	color: black;
	/* text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white; 	*/
	text-align: center; 
	font-weight: bold;
}

