body {
	/*background-image: url("../images/bgimage.jpg");*/
    background-attachment: fixed;
    background-position: center; 
	/*background-color: black;*/
}

#header {
	background-image: url("../images/banner.png");
	width: 728px;
	height: 90px;
}