@import url("table.css");

body {
	background-image: url("../images/bgimage.jpg");
	background-size: 100%;
	background-attachment: fixed;
	background-color: black;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	z-index: auto;
	font-size: 10pt;
	color: white;
}

#logout_link {
	color: white;
}

a:link {
	color: #333333;
	text-decoration: underline;
}
a:visited {
	color: #666666;
	text-decoration: underline;
}
a:hover {
	color: #cc9966;
	text-decoration: underline;
}

#header {
	background-image: url("../images/banner.png");
	background-repeat: no-repeat;
	/*width: 1300px;*/
	width: 96%;
	height: 90px;
}

#navigation{
	margin-top: 10px;
	width: 1800px;
	height: 40px;
}

#navigation>div{ 
        height: auto; 
        width: auto; 
		font-size: 14px;
        border-radius: 4px;
		border-width: 2px;
		border-style: solid;
		border-color: #d0d0d0;
        margin-left: 5px;
		padding: 4px;
        float: left; /*Here you can also use display: inline-block instead of float:left*/
        background: #f1f1f1; 
		box-shadow: 5px 5px 2px #888888;
}

#navigation>div:hover{ 
        height: auto; 
        width: auto; 
		font-size: 14px;
        border-radius: 4px;
		border-width: 2px;
		border-style: solid;
		border-color: #d0d0d0;
        margin-left: 5px;
		padding: 4px;
        float: left; /*Here you can also use display: inline-block instead of float:left*/
		background: #f1f1f1;
        background-color: #ACACAC; 
		box-shadow: 5px 5px 2px #888888;
}

#navigation>div>a:link{ 
       text-decoration: none;
}

#navigation>div>a:visited{ 
       text-decoration: none;
}

#navigation>div>a:hover{ 
        color: white;
}

.activelink{
	    height: auto; 
        width: auto; 
		font-size: 14px;
        border-radius: 4px;
		border-width: 2px;
		border-style: solid;
		border-color: #d0d0d0;
        margin-left: 5px;
		padding: 4px;
        float: left; /*Here you can also use display: inline-block instead of float:left*/
		background: #f1f1f1;
        background-color: #ACACAC !important;
		box-shadow: 5px 5px 2px #888888;
		text-decoration: none;
}

.activelink>a{
	color: white;
}

#playerlist, #playerinfo, #teaminfo {
    display: inline-block;
    /* width: 32%; */
	width: auto;
    height: 1000px;
	/* border: 1px solid black; */
	vertical-align:top; 
}

#currentteam {
	width: 100%;
	height: 50px;
	line-height: 10px;
	text-align: center;
}

#playerpicture {
	margin-top: 5%;
	margin-left: 5%;
	display: inline-block;
	width: 128px;
	height: 128px;
	border: 1px solid white;
	vertical-align: top;
}

#playerdetails {
	margin-top: 5%;
	margin-left: 10px;
	display: inline-block;
	width: auto;
	height: auto;
	vertical-align: top;
}

#playerstats {
	margin-left: 25px;
	margin-top: 90px;
	width: 90%;
	height: auto;
}

#send {
	margin: 25px;
	margin-left: 38%;
}

#teamselect {
	margin-top: 10%;
	margin-left: 12%;
	width: 75%;
	height: 5%;
}

select {
	width: 200px;
    padding:3px;
    margin-left: 20%;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    -webkit-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    -moz-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    background: #f8f8f8;
    color:#888;
    border:none;
    outline:none;
    display: inline-block;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    cursor:pointer;
}

#teamdisplay {
	margin-left: 20%;
}

#standings {
	line-height: 40px;
	width: 30%;
	text-align: center;
}

#formsheet {
	margin: 35px;
	padding: 30px;
	width: 150px;
	clear: both;
}

#formsheet input {
	width: 100%;
	clear: both;
}

#search {
	margin-left: 22%;
	margin-bottom: 4%; 
	padding: 2px 3px; 
	width: 209px;
}

#login_corner {
	float: right;
	margin-left: 50%;
	height: 50px;
	width: 209px;
}

#scoreboard {
	width: 55%;
	height: 120px;
	margin: auto;
	margin-top: 20px;
	text-align: center;
}

#team1, #team2 {
	float: left;
	text-align: center;
	padding: 10px;
	width: 40%;
	margin-top: 15px;
}

#team1 {
	margin-left: 20px;
}

#team2 {
	margin-left: 10%;
}

#team1 table {
	width: 100%;
}

#team2 table {
	width: 100%;
}

